# Image location for Spyderbat Nano Agent
image:
  registry: public.ecr.aws
  # Full image
  repository: a6j2k0g1/nano-agent
  # Minimal image
  #repository: a6j2k0g1/nano-agent-minimal
  tag: latest
  pullPolicy: Always
  pullSecrets: []

# Enables Kubernetes meta data collection via a connection to the Kubernetes API server.
kubernetesSupport:
  enabled: true
  apiAuth: /var/run/secrets/kubernetes.io/serviceaccount/token
  apiUrl: "https://$(KUBERNETES_SERVICE_HOST)"

# Reasonable resource defaults.  May need to be larger on particularly large systems.  We recommend about 3-5% of the system resources for a node.
# Before deploying to production please make sure these limits are sane to protect your work load.
resources:
  requests:
    cpu: 100m
    memory: 512Mi
  limits:
    cpu: 6000m
    memory: 2048Mi

# Priority class for Spyderbat Nano Agent.   An agent is desired on each node of the cluster
# Disabled by default to prevent doing harm.
priorityClassDefault:
  enabled: false
  name: default
  value: 1000

# Create a service account
# if readonly is selected, a read-only cluster role is created and can be used: spyderbat-cluster-readonly
# This will prevent kubernetes actions from being able to execute.
serviceAccount:
  create: true
  name: spyderbat-serviceaccount
  readonlyrolename: spyderbat-cluster-readonly
  writerolename: spyderbat-cluster-write
  annotations: {}
  role: spyderbat-cluster-write
  readonly: false

microK8sSnap:
  enabled: false

# Cluster Name
CLUSTER_NAME: "none"

# Emit environment variables from collection: no, everything, or allbutredacted
# "no" tells Spyderbat to capture and analyze all environment variables from observed processes
# "everything" omits all environment variables
# "allbutredacted" uses a set of rules and omits everything but the envionrment variables that look like they contain secrets.  The secrets are encrypted.
OMITENVIRONMENT: "no"

# Additional pod labels
podLabels: {}

aws:
  secretsmanager:
    enabled: false
    rolearn: "arn:aws:iam::429857113775:role/eksctl-amazing-rainbow-1689885478-addon-iams-Role1-O1Z4QM13CADJ"
    secretarn: "arn:aws:secretsmanager:us-east-2:429857113775:secret:beau/dev/eks-csi-roobat-M1mBZk"

nanoagent:
  pod:
    ## The annotations pods
    annotations: {}

  ## The node selector for pod assignments
  # nodeSelector: {}

  ## The affinity of the pods
  affinity: {}

# Whether or not the clusterMonitor deployment should be created.
# If set to false the deployment will not be created, this is useful for
# multiple deployments of the chart on the same cluster, the clusterMonitor
# deployment must be one per cluster.
clusterMonitor:
  create: true 
  ## Affinity selection for cluster monitor
  affinity: {}
  
  ## Tolerations
  tolerations: {}


# Whether or not the write ClusterRole should be created.
# If set to false the role will not be created. Useful for multiple deployments
# of the chart on the same cluster. The role is needed only once per cluster
writeRole:
  create: true
